<?xml version="1.0" encoding="UTF-8"?>
<plugin type="exporter">
   <name>Export Telegram Sticker</name>
   <exec>tgs-exporter.py</exec>

   <exporter>
      <extension>tgs</extension>
      <description>[pylot] Telegram Sticker (*.tgs)</description>
      <exec>tgs-exporter.py</exec>
   </exporter>
   <exporter>
      <extension>svg</extension>
      <extension>svgz</extension>
      <description>[pylot] SVG (*.svg, *.svgz)</description>
      <exec>tgs-exporter.py</exec>
   </exporter>
   <exporter>
      <extension>json</extension>
      <description>[pylot] Lottie JSON (*.json)</description>
      <exec>tgs-exporter.py</exec>
   </exporter>
   <exporter>
      <extension>html</extension>
      <description>[pylot] Lottie HTML Preview (*.html)</description>
      <exec>tgs-exporter.py</exec>
   </exporter>
   <exporter>
      <extension>lottie</extension>
      <description>[pylot] dotLottie Archive (*.lottie)</description>
      <exec>tgs-exporter.py</exec>
   </exporter>

   <importer>
      <extension>tgs</extension>
      <description>[pylot] Telegram Sticker (*.tgs)</description>
      <exec>tgs-exporter.py</exec>
   </importer>
   <importer>
      <extension>svg</extension>
      <extension>svgz</extension>
      <description>[pylot] SVG (*.svg, *.svgz)</description>
      <exec>tgs-exporter.py</exec>
   </importer>
   <importer>
      <extension>json</extension>
      <description>[pylot] Lottie JSON (*.json)</description>
      <exec>tgs-exporter.py</exec>
   </importer>
   <importer>
      <extension>lottie</extension>
      <description>[pylot] dotLottie Archive (*.lottie)</description>
      <exec>tgs-exporter.py</exec>
   </importer>
</plugin>
