<?xml version="1.0" encoding="UTF-8"?>
<plugin type="exporter">
   <name>Export Telegram Sticker</name>
   <exec>tgs-exporter.py</exec>

   <exporter>
      <extension>tgs</extension>
      <description>[TGS] Telegram Sticker (*.tgs)</description>
      <exec>tgs-exporter.py</exec>
   </exporter>
   <exporter>
      <extension>svg</extension>
      <description>[TGS] SVG (*.svg)</description>
      <exec>tgs-exporter.py</exec>
   </exporter>
   <exporter>
      <extension>json</extension>
      <description>[TGS] Lottie JSON (*.json)</description>
      <exec>tgs-exporter.py</exec>
   </exporter>
   <exporter>
      <extension>html</extension>
      <description>[TGS] Lottie HTML Preview (*.html)</description>
      <exec>tgs-exporter.py</exec>
   </exporter>

   <importer>
      <extension>tgs</extension>
      <description>[TGS] Telegram Sticker (*.tgs)</description>
      <exec>tgs-exporter.py</exec>
   </importer>
   <importer>
      <extension>svg</extension>
      <extension>svgz</extension>
      <description>[TGS] SVG (*.svg, *.svgz)</description>
      <exec>tgs-exporter.py</exec>
   </importer>
   <importer>
      <extension>json</extension>
      <description>[TGS] Lottie JSON (*.json)</description>
      <exec>tgs-exporter.py</exec>
   </importer>
</plugin>
